@import "../../../sass/variables";
@import "../../../sass/buttons";
@import "../../../sass/icons";
.text {
    color: $text-white;
    font-size: $font-size+80;
    justify-content: center;
}

.btn-secondary {
    border-radius: $button-rad;
    -webkit-border-radius: $button-rad;
    -moz-border-radius: $button-rad;
    -ms-border-radius: $button-rad;
    -o-border-radius: $button-rad;
}

.mb-5,
.my-5 {
    margin-bottom: 19rem !important;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: $screen-xs-min) {
    .carousel-item {
        height: 225px;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: $screen-sm-min) {
    .carousel-item {
        height: 325px;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: $screen-md-min) {
    .carousel-item {
        height: 820px;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: $screen-lg-min) {
    .carousel-item {
        height: 820px;
    }
}