<footer class="section footer-classic context-dark bg-image" style="background: black;">
    <div class="container-fluid">
        <div class="row row-30">
            <div class="col-md-4 col-xl-5">
                <div class="pr-xl-4">
                    <h2 class="text mb-5">BICYCLE COMPANY</h2>
                    <p>Alquam erat volutpat. Maecenas vehicula sopien quis erat inerdum aliquam non id ante</p>
                    <!-- Rights-->
                    <p class="rights"><span>©  </span><span class="copyright-year">Copyright 2017,</span><span> </span><span>Bicycle Company</span><span>. </span><span>All Rights Reserved.</span></p>
                </div>
            </div>
            <div class="col-md-4">
                <h5 class="text mb-5">Quick Links</h5>
                <ul class="nav-list">
                    <li><a href="#">Search</a></li>
                    <li><a href="#">Shipping and Delivery</a></li>
                    <li><a href="#">Payment Options</a></li>
                    <li><a href="#">Contacts Us</a></li>
                </ul>
            </div>
            <div class="col-md-4 col-xl-3">
                <h5 class="text mb-5">About Us</h5>
                <ul class="nav-list">
                    <li><a>Our Story</a></li>
                    <li><a>Maintenance</a></li>
                    <li><a>Service</a></li>
                    <li><a>Products</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row no-gutters social-container">
        <div class="col"><a class="social-inner"><span class="icon mdi mdi-facebook"></span><span>Facebook</span></a></div>
        <div class="col"><a class="social-inner"><span class="icon mdi mdi-instagram"></span><span>instagram</span></a></div>
        <div class="col"><a class="social-inner"><span class="icon mdi mdi-twitter"></span><span>twitter</span></a></div>
        <div class="col"><a class="social-inner"><span class="icon mdi mdi-youtube-play"></span><span>google</span></a></div>
    </div>
</footer>