<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 offset-lg-2 ">
            <div class="row my-5">
                <h1 class="text"><strong>WHO WE ARE</strong> </h1>
            </div>
            <div class="row my-5">
                <p class="text text-justify">We are one of the best bicycle companies in the world. We provide the best quality products of bicycle and no one can be compared by our service because we are the best and we wiil be. We deliver all the products with brand new quality
                    and services. Any product is available in different colors and they are very good looking. We take very less delivery charge in comparison with other companies.

                </p>
            </div>
            <div class="row my-5">
                <button type="button" class="btn btn-secondary btn-lg">More info</button>
            </div>
        </div>
        <div class="col-lg-5">
            <img src="../../../../assets/images/who-we-are.PNG">
        </div>
    </div>

</div>