<nav class="navbar navbar-dark bg-dark">

    <div class="topnav-left">

        <i class="fa fa-fw fa-search fa-2x border-right" id="search"></i>


        <button class="navbar-toggler border-right ml-5 py-3 " type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                <span class="text"> Shop Category</span>
        </button>



    </div>

    <!-- Centered link -->
    <div class="topnav-centered">
        <h2 class="text">BICYCLE COMPANY</h2>
    </div>

    <!-- Right-aligned links -->
    <div class="topnav-right">
        <i class="fa far fa-user fa-2x mr-5 pl-5 border-left" style="padding-top: 16px;padding-bottom: 16px;"></i>
        <i class="fa far fa-heart fa-2x mr-5 pl-5 border-left" style="padding-top: 16px;padding-bottom: 16px;"></i>
        <i class="fa fa-shopping-cart fa-2x pl-5 border-left " style="padding-top: 16px;padding-bottom: 16px;"></i>
    </div>


</nav>