@import "../../sass/variables";
.text {
    color: $text-white;
}

.fa {
    color: $text-white;
}

.navbar {
    min-height: 80px !important;
}

.topnav-centered {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.topnav-right {
    float: right;
}

.topnav-left {
    float: left;
}

#search {
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 21px;
}

.bg-dark {
    background-color: black !important;
}