<div class="container-fluid">
    <div class="row mb-3">
        <h1 class="text mx-auto"><strong>FEATURED PRODUCTS</strong> </h1>

    </div>
    <div class="row">
        <div class="col-sm-7 " id="mountainbike">
            <div class="row my-5 ml-3">
                <h5 class="text ">Mountain Bike</h5>
            </div>
            <div class="row my-5 ml-3">
                <h3 class="text ">Carbon Rims<br> Wide</h3>
            </div>
            <div class="row my-5 ml-3">
                <button type="button" class="btn btn-primary btn-lg"><i class="fa fa-shopping-cart fa-2x mr-2" ></i>Buy</button>
                <h4 class="text offset-lg-3">From <br> $700</h4>
            </div>
            <div class="row">
                <div class="col-6 col-sm-6 " id="frames">
                    <div class="row my-5 ml-3">
                        <h5 class="text ">Frames</h5>
                    </div>
                    <div class="row my-5 ml-3">
                        <h3 class="text ">Zealous Div<br> Frame</h3>
                    </div>
                    <div class="row my-5 ml-3">
                        <button type="button" class="btn btn-primary btn-lg"><i class="fa fa-shopping-cart fa-2x mr-2" ></i>Buy</button>
                        <h4 class="text offset-lg-3">From <br> $900</h4>
                    </div>
                </div>
                <div class="col-6 col-sm-6 " id="aerosys">
                    <div class="row my-5 ml-3">
                        <h5 class="">AERO SYSTEM</h5>
                    </div>
                    <div class="row my-5 ml-3">
                        <h3 class=" ">ShockStop<br> Suspension Stem</h3>
                    </div>
                    <div class="row my-5 ml-3">
                        <button type="button" class="btn btn-primary btn-lg"><i class="fa fa-shopping-cart fa-2x mr-2" ></i>Buy</button>
                        <h4 class=" offset-lg-3">From <br> $700</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-5 " id="aer">
            <div class="row my-3 offset-lg-3">

                <img src="../../../../assets/images/seatpost.PNG">
            </div>
            <div class="row my-3 ml-3">
                <h5 class="text">AERO SYSTEM</h5>
            </div>
            <div class="row my-5 ml-3">
                <h3 class="text ">Redshift DUAL-POST<br> SEATPOST</h3>
            </div>
            <div class="row my-5 ml-3">
                <button type="button" class="btn btn-primary btn-lg"><i class="fa fa-shopping-cart fa-2x mr-2" ></i>Buy</button>
                <h4 class="text offset-lg-3">From <br> $700</h4>
            </div>
        </div>
    </div>
</div>