// CTA
.btn:focus {
    outline: none;
    box-shadow: none;
}

.btn-secondary {
    background-color: #DF394A;
    border: solid 1px #DF394A;
    min-width: 160px;
    min-height: 51px;
    font-size: $font-size+1;
    text-align: center;
    color: #ffff;
    border-radius: 0.15rem;
    &:not(:disabled):not(.disabled):active,
    &.active,
    &:hover,
    &.hover,
    &.focus,
    &:focus {
        color: #ffff;
        background-color: #DF394A;
        border: solid 1px #DF394A;
    }
    &:disabled,
    &.disabled {
        opacity: 0.33;
        color: #DF394A;
        background-color: #DF394A;
        border: solid 1px #DF394A;
        cursor: pointer;
    }
}

.btn-primary {
    min-width: 140px;
    min-height: 51px;
    background-color: #ffffff;
    border: solid 1px #ffffff;
    border-radius: 0.1em;
    font-size: $font-size+1;
    text-align: center;
    color: black;
    padding: 13px 24px;
    margin: 3px;
    &.chevron {
         ::after {
            content: " ";
            padding-left: 10px;
            vertical-align: middle;
            @extend #{'.icon'};
            @extend #{'.icon-chevron'};
        }
    }
    &:not(:disabled):not(.disabled):active,
    &.active,
    &:hover,
    &.hover,
    &.focus,
    &:focus {
        color: black;
        background-color: #ffffff;
        border: solid 1px #ffffff;
    }
    &:disabled,
    &.disabled {
        opacity: 0.33;
        color: black;
        background-color: #ffffff;
        border: solid 1px #ffffff;
        cursor: pointer;
    }
}