.icon {
    display: inline-block;
    background-repeat: no-repeat;
    &.icon-Chevron_accordion {
        width: 32px;
        height: 32px;
        background-position: -640px 0;
    }
    &.icon-chevron {
        width: 32px;
        height: 32px;
        background-position: -704px 0;
        transform: scale(0.5) rotate(-90deg);
    }
    &.icon-com-neg {
        width: 32px;
        height: 32px;
        background-position: -768px 0;
    }
    &.icon-com-pos {
        width: 32px;
        height: 32px;
        background-position: -832px 0;
    }
    &.icon-cross {
        width: 32px;
        height: 32px;
        background-position: -1024px 0;
    }
    &.icon-Delete {
        width: 32px;
        height: 32px;
        background-position: -1088px 0;
    }
    &.icon-DragDrop {
        width: 32px;
        height: 32px;
        background-position: -1280px 0;
    }
    &.icon-Edit {
        width: 32px;
        height: 32px;
        background-position: -1344px 0;
    }
    &.icon-email {
        width: 32px;
        height: 32px;
        background-position: -1408px 0;
    }
    &.icon-Followed {
        width: 32px;
        height: 32px;
        background-position: -1472px 0;
    }
    &.icon-home {
        width: 32px;
        height: 32px;
        background-position: -1920px 0;
        transform: scale(0.5);
    }
    &.icon-Info {
        width: 32px;
        height: 32px;
        background-position: -1984px 0;
        transform: scale(0.5);
        cursor: pointer;
    }
    &.icon-like-neg {
        width: 32px;
        height: 32px;
        background-position: -64px -64px;
    }
    &.icon-like-pos {
        width: 32px;
        height: 32px;
        background-position: -128px -64px;
    }
    &.icon-Logout {
        width: 32px;
        height: 32px;
        background-position: -192px -64px;
    }
    &.icon-Notif_off {
        width: 32px;
        height: 32px;
        background-position: -320px -64px;
    }
    &.icon-Notif_on {
        width: 32px;
        height: 32px;
        background-position: -384px -64px;
    }
    &.icon-check {
        width: 32px;
        height: 32px;
        background-position: -320px 0;
        transform: scale(0.5) rotate(90deg);
        vertical-align: middle;
    }
    &.icon-back {
        width: 32px;
        height: 32px;
        background-position: -1152px -64px;
        transform: scale(0.5) rotate(90deg);
        vertical-align: middle;
        margin-left: -8px;
    }
}