//COLORS
$mountainbike_color:#63686C;
$frames_color: #281316;
$aero_system:#FBCC79;
$aero_system_new:#2D303F;
$text-black:#000000;
$text-white: #ffff;
// Font size
$font-size:15px;
//font family
$font-family:"montserrat",
Arial,
sans-serif;
//media query
$screen-lg-min: 1200px;
$screen-md-min: 992px;
$screen-sm-min: 768px;